<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfptOkprhQVQ3RE_ucS7JhBkYOxTZxyJk</string>
	<key>GCM_SENDER_ID</key>
	<string>446249553608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.syflexMeamates</string>
	<key>PROJECT_ID</key>
	<string>mealking-7368c</string>
	<key>STORAGE_BUCKET</key>
	<string>mealking-7368c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446249553608:ios:8861d0b059b9e441a69ffd</string>
</dict>
</plist>